<h1>Schedule#Index</h1>
<table>
	<tr>
		<th>Name</th>
		<th>Unit</th>
		<th>Lower/Upper Div</th>
	</tr>
	<tr>
	<% @courses.each do |t| %>
       	<td><%= t.title%></td>
       	<td><%= t.units%></td>
       	<td><%= t.div%></td>
    </tr>
   <% end %>
</table> 


 