<h1>Create New Schedule</h1>


   <%= simple_form_for Schedule.new, :url => schedule_create_path,
      html: {class: 'form-inline'} do |f| %>
      <%= f.input :name, prompt: "Schedule Name" %>
      <%= f.button :submit, 'Add' %>
    <% end %>
