
<div style="margin: 150px">
    <table id="users" class="table table-bordered table-condensed">
        <tr><th>Freshmen</th><th>Sophomore</th><th>Junior</th><th>Senior</th></tr>
        <tr>
            <td>1</td>
            <td><a href="#" data-pk="1">Mike</a></td>
            <td>21</td>
        </tr>

        <tr>
            <td>2</td>
            <td><a href="#" data-pk="2">John</a></td>
            <td>28</td>
        </tr>

        <tr>
            <td>3</td>
            <td><a href="#" data-pk="3">Mary</a></td>
            <td>24</td>
        </tr>

    </table>
</div>
