
<div style="margin: 150px">
    <table id="users" class="table table-bordered table-condensed">
        <tr><th>Title</th>
            <th>Units</th>
            <th>Division</th>
        </tr>

        <tr>
        <% @course.each do |t| %>
            <td><%= t.title %></td>
            <td><%= t.units %></td>
            <td><%= t.div %></td>
        </tr>
        <% end %>

    </table>


</div>
