<!DOCTYPE html>
<style type="text/css">
@font-face {
    font-family: "My Custom Font";
    src: url(../fonts/ADAM.CG PRO.otf) format("opentype");
}
h2.text-primary {
    font-family: "My Custom Font", Arial Rounded MT Bold, Tahoma; 
    color: black; 
    font-size: 40px; 
    text-align: center;
    /*color: #fff;*/
    /*background-color: #555;*/
    /*display: inline;*/
    /*line-height: 130%;*/
}


</style>
<html>

<h2 class = "text-primary">

  <% if current_user %>
  	<%= button_to "Create Schedule", schedule_new_path, :method => "get" , :class=>"button"%>
  	<br>
  	<%= button_to "View All Schedules", schedule_viewall_path, :method => "get" , :class=>"button", :style => 'background-color: #FDB515'%>
  <% else %>
    <h2 class ="text-primary"><span>Please log in</span></h2>
  <% end %>

</h2>



</html>
