<!DOCTYPE html>
<style type="text/css">
@font-face {
    font-family: "My Custom Font";
    src: url(../fonts/ADAM.CG PRO.otf) format("opentype");
}
h2.text-primary {
    font-family: "My Custom Font", Verdana, Tahoma;
}
</style>
<html>
<h2 class ="text-primary"
style="color: black; text-align: center; font-size: 180px "=>Hello
</h2>

</html>
