<!DOCTYPE html>
<style type="text/css">
@font-face {
    font-family: "My Custom Font";
    src: url(../fonts/ADAM.CG PRO.otf) format("opentype");
}
h2.text-primary {
    font-family: "My Custom Font", Verdana, Tahoma;
}
</style>
<html>
<h2 class = "text-primary">
	<%= button_to "Create Schedule", schedule_index_path, :method => "get" , :class=>"button"%>
	<button class = "view">View Schedule</button>
</h2>

</html>
